<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/header.ejs') %>
    <main class="main">
      <section class="section-html">
        <h3 class="encuadro">TODOS LOS PRODUCTOS</h3>

        <% products.forEach(producto => { %> .
        <div class="ver">
          <img
            class="imagenProducto"
            src="/img/<%= producto.image %> "
            alt="alt"
          />
          <article>
            <div class="pdp">
              <p class="precio">$<%= producto.price %></p>
              <p class="producto"><%= producto.name %></p>
              <p class="descuento"><%= producto.description %></p>
            </div>
          </article>
        </div>
        <% }) %>
      </section>
    </main>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
